@import '~bootstrap/scss/bootstrap';

.wrapper {

    width: 90%;
    height: 500px;
    margin-inline: auto;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 2rem;

    .ms_card {
        width: calc(100% / 5);
    }
}

.vertical {
    width: 40%;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: grey;
    }
}

